*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

img {
 width: 100%;
 height: auto;
 vertical-align: middle;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
}

.wrapper {
    /* Ancho máximo, si la pantalla es más pequeña, puede disminuir, Evitando el desbordamiento, así no hay que scrollear. */
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 40px; 
}

/* NAVEGADOR - MENÚ */
nav{
    /* background-color:deepskyblue; */
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 24px;
}
nav > ul >li > a {
    font-weight: bold;
    color: grey;
    display: block;
    transition: 0.6s;
}

nav > ul >li > a:hover {
    color: blue;
    /* font-size: 24px; */
    transform: scale(1.5) 
    /* rotate(5deg); */
}

/* HEADER */
header {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 200px;
    padding: 80px 0;
    
}

header > div {
  flex: 1px;
  width: 50%;
}

header > div:first-child {

    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

header > div:last-child {
    padding: 40px;
    border: 10px blueviolet;
    border-radius: 50%;
    height: fit-content;
    min-width: 400px;
    max-width: 624px;

}

/* IMAGEN */
header > div:last-child > img {
    border-radius: 50%;
    
}
/* BOTONES */
.btn-group {
    display: flex;
    gap: 24px; 
}

.btn-group > a{
    padding: 8px 10 px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 22px;
    transition: 0.3s;
}

.btn-group > a:first-child{
    background-color: blue;
    color:aliceblue;
}
.btn-group > a:first-child:hover{
    background-color: rgb(0, 0, 148);
    transition: 1s;
}

.btn-group > a:last-child{
    border: 1px black;
}

.btn-group > a:last-child:hover{
    color: aliceblue;
    background-color: black;
}


/* FLEX PAGE */
.flex-cont-parent {
    padding: 80px; 
    background-color: coral;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
}

.flex-cont-parent > div {
    background-color: rgba(0, 0, 255, 0.267);
    border: 2px blue solid;
    padding: 20px;
    width: 280px;
}

.flex-cont-parent > div:nth-child(2) {
    order: 1; 
}

.flex-cont-second {
    background-color: cadetblue;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.flex-cont-second > div {
    width: 120px;
    height: 120px;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* projects */
#projects{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}

/* #projects {
    display: flex; 
    gap: 40px;
} */

#projects > .pro-row{
    display: flex; 
    gap: 40px;
    flex-wrap: wrap;
}


#projects > .pro-row > .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projects > .pro-row > .small-col {
    width: 40%;
    flex: 1;
    min-width: 300px;

}


#projects > .pro-row > .big-col {
    width: 60%;
    flex:2  ;   
    min-width: 600px;
}

#projects > .pro-row > .col > div {
    height: 300px;
    position: relative; 
    /* overflow: hidden; */
}

#projects > .pro-row > .col > div > img {
    height: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;

}

/* Está posicionado de forma absoluta, será relativo al elemento contenedor que 
tenga la posicion relative  */
#projects > .pro-row > .col > div >.overlay{
    background-color: rgba(0, 0, 255, 0.493);
    position: absolute;
    left: 0px;
    top: 0px; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 24px;
    opacity: 0;
    transition: 0.6s;
}

#projects > .pro-row > .col > div >.overlay:hover {
    opacity:1; 
}

/* OVERLAY */




/* SKILLS */
#skills  {
    margin: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}

#skills  > .skills-row {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}

#skills  > .skills-row > .skills-col {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

#skills  > .skills-row > .skills-col > div{
    display: flex;
    flex-direction: column;
}

footer {
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer > .f-row {
    display: flex; 
    justify-content: space-between;
}

footer > .f-row > .f-social {
    padding: 24px 0;
    display: flex;
    gap: 24px;
    font-size: 24px;
}

footer > .f-row > .btn-group {
    align-items: flex-end;
}

footer > .f-row > .copyright {
    text-align: right;
}

/* #skills {
    margin: 80px;
}
    #skills > .skills.row {

}
*/


