/* General Stuff */

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
p{
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
  }
 

/*  Navigation Menu */

nav{
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.378);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 24px;
    justify-content: space-evenly;
    list-style: none;
    margin:0;
    position: relative;
    z-index: 11;
}

nav ul li a{
    text-decoration: none;
    padding: 24px 24px;
    color:#F7F4F3;
    transition: color 0.3s ease-in-out;
    font-size: 24px;
}


 nav ul li a:hover {
    color: #66AABD;
}

body nav.sticky ul li a:hover {
    color: #052639 !important;
     text-decoration: underline;
} 

nav.sticky{
    background-color:#F7F4F3;

}
nav.sticky ul li a{
    color: black;
}

 /* Background for Home */

 .mainpage {
    position: relative;
    background-image:url('../sources/img/mainpageimg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 1; 
    overflow: hidden;
    max-height: 1200px;
}

.mainpage::before{
    content: "";
    position: absolute;   
    background: rgba(0, 0, 0, 0.733);
    z-index: 2; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} 

/* Text on Home */

.maintxt {
    font-size: larger;
    color:#F7F4F3;
    position: relative;
    z-index: 4;
    padding-right: 15%;
    padding-top: 20%;;
    text-align: right;
}

.maintxt > h1 {
    font-size: 100px;
    font-weight: 600;
}

.maintxt > h2 {
    font-size: 60px;
}

.maintxt > h3 {
    font-size: 35px;
}

.animated-welcome-container{
    height: 200px;
}

.animated-welcome {
    font-size: 35px;
    white-space: nowrap;  
    overflow: hidden;  
    color:#66AABD;
    font-style: italic;
    border-right: 3px solid black; 
    padding-right: 5px;
    display: inline-block;
    text-wrap: wrap;
    max-height: 100%;
  }

/* Section Projects - Background */

#projects {
    background-color:#F7F4F3;
    max-height: 1300px;
}


/* Section Projects - Text */

.title-projects > h1 {
    font-size: 80px;
    font-weight: 600;
    padding-left: 120px;
    padding-top: 40px;
}

.project-container{
    height: 100vh;
    width: 100vh;
    margin: 0rem;
    overflow: hidden;
}