/* General Stuff */

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    scroll-behavior: smooth;
}
p{
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
  }
 

/*  Navigation Menu */

nav{
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.378);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 24px;
    justify-content: space-evenly;
    list-style: none;
    margin:0;
    position: relative;
    z-index: 11;
}

nav ul li a{
    text-decoration: none;
    padding: 24px 24px;
    color: #F4F2EF;
    transition: color 0.3s ease-in-out;
    font-size: 24px;
}


 nav ul li a:hover {
    color: #94B6EF;
}

body nav.sticky ul li a:hover {
    color: #1300e1 !important;
} 

nav.sticky{
    background-color: #F4F2EF;

}
nav.sticky ul li a{
    color: black;
    transition: 0.3s ease-in-out;
    font-weight: 500
}

/* body nav.sticky ul li a{
   transition: 0.3s ease-in-out;
} */

 /* Background for Home */

 .mainpage {
    position: relative;
    background-image:url('../sources/img/mainpageimg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 1; 
    overflow: hidden;
    max-height: 1200px;
}

.mainpage::before{
    content: "";
    position: absolute;   
    background: rgba(0, 0, 0, 0.733);
    z-index: 2; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} 

/* Text on Home */

.maintxt {
    font-size: larger;
    color: #F4F2EF;
    position: relative;
    z-index: 4;
    padding-right: 15%;
    padding-top: 15%;;
    text-align: right;
}

.maintxt > h1 {
    font-size: 100px;
    font-weight: 600;
}

.maintxt > h2 {
    font-size: 60px;
}

.maintxt > h3 {
    font-size: 35px;
}

.animated-welcome-container{
    height: 200px;
}

.animated-welcome {
    font-size: 35px;
    white-space: nowrap;  
    overflow: hidden;  
    color: #1300e1;
    font-style: italic;
    border-right: 3px solid black; 
    padding-right: 5px;
    display: inline-block;
    text-wrap: wrap;
    max-height: 100%;
  }

/* Section Projects - Background */

#about {
    background-color: #1300e1;
    max-height: 1300px;
    color: #F4F2EF;
}

#about > .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#about > .about-container >.about-text > h1 {
    font-size: 80px;
    font-weight: 600;
    padding-left: 120px;
    padding-top: 40px;
    text-align: justify;
}

#about > .about-container >.about-text > p {
    font-size: 20px;
    padding: 60px;
}

.about-image img{
     width: 400px;
     padding-right: 20px;
    height: auto;
    padding: 30px;
    border-radius: 50%;
    margin-right: 60px;
}
   
/* Section Projects */
#projects {
    background-color: #F4F2EF;
    max-height: 1300px;
}


/* Section Projects - Text */

.title-projects > h1 {
    font-size: 80px;
    font-weight: 600;
    padding-left: 120px;
    padding-top: 40px;
}

.projects-image-container {
    width:500px;
    height: 500px;
    display: flex;
}

.projects-image-container > img{
    width: 100%;
    height: 100%;
}


/* Carousel Images */








/*@media (max-width: 768px) {
    .mobile-mainpage {
        .mainpage {
            display: none;
        }
    }
}
*/
